.breadcrumb-item:before {
    content: ">";
}

.breadcrumb-item+.breadcrumb-item::before {
    content: ">";
}

nav {
    font-size: .75rem
}

button {
    -webkit-app-region: no-drag
}

.btn {
    -webkit-app-region: no-drag
}

form {
    -webkit-app-region: no-drag
}